@import url(../vendor/normalize.css);

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.2);
  }
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto-Serif", "Time New Roman", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  column-gap: 20px;
  list-style: none;
}

.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  list-style-type: none;
  padding-left: 0;
  margin-top: 8px;
  display: flex;
  align-items: center;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  margin: 150px 0 0;
  line-height: 72px;
  max-width: 729px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0 0;
  max-width: 683px;
}

.header__image {
  max-width: 636px;
  z-index: 1;
  position: absolute;
  top: 135px;
  right: 20px;
}

.header__footer {
}

.header__paragraphs {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header__paragraph {
}

.header__hours {
}

.header__address {
}

.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  margin: 24px 0 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20x;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  max-width: 1300px;
}

.card {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-basis: 385px;
  padding: 32px 40px 20px 32px;
  max-width: 600px;
}

.card__title {
  text-align: center;
  margin: 0 0 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  align-self: flex-start;
}

.card__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.card__list-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid #fff;
  flex-grow: 2;
}

.recipes {
  background-color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipe__subtitle {
  max-width: 480px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  width: 480px;
  height: 273px;
  margin: 0 auto;
  gap: 40px;
  margin-bottom: 215px;
  list-style: none;
}

.recipes__iframes {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation__title {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
}

.reservation__fieldset {
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__input {
}

.reservation__label {
  display: flex;

  margin-bottom: 8px;
}

.form__input {
  max-height: 60px;
  max-width: 385px;
  margin-bottom: 32px;
}

.form__label {
  border-radius: 4px;
  padding-bottom: 8px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__input[type="text"],
.form__input[type="email"],
.form__input[type="datetime-local"],
.form__input[type="number"],
.form__input_type_select {
  max-width: 385px;
  min-height: 60px;
}

.form__button {
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button[type="submit"] {
  min-width: 385px;
  min-height: 60px;
  background: #2f71e5;
  color: #ffffff;
  font-size: 18px;
  border: none;
}

.form__input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}

.form__label {
}

.form__button:hover {
}

.form__checkbox {
  border-radius: 2px;
}

.form__input_type_checkbox {
  display: flex;
  justify-content: center;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  column-gap: 120px;
  position: relative;
}
.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}
.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  z-index: 1;
}

.about__paragraph {
  margin-bottom: 20px;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out inf;
}

.footer {
  box-sizing: border-box;
  color: #fff;
  padding: 57px 102px 60px 80px;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  display: flex;
}

.footer__column_content_social {
  margin-left: auto;
  justify-content: center;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer__list-item {
  margin-bottom: 16px;
  list-style: none;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-heading {
  font-size: 16px;
  margin: 0 0 20px;
}

.footer__social-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
}
